.detail .salary-list-wrapper {

  table {
    width: 100%;
  }

  thead, tbody, tr, td, th {
    display: block;
    text-align: center;
  }

  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  thead th {
    height: 49px;
  }

  tbody {
    max-height: 588px;
    overflow-y: auto;
  }

  tbody td, thead th {
    width: 33.33333%;
    float: left;
  }
}

.detail .salary-list-wrapper {

  table .actions-column {
    button {
      visibility: hidden;
    }
  }

  table tr:hover .actions-column button {
    visibility: visible;
  }

}