.employee-list-wrapper {
  /* height: 100%; */
  position: absolute;
  overflow-y: scroll;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 37px;

  table.employee-list {
    width: 100%;
    border: 0;
    border-spacing: 0;

    th {
      background-color: #f0f0f0;
      text-align: left;
      border-spacing: 0;
      margin: 0;
      border-right: 1px solid #808080;
      border-bottom: 1px solid #808080;
      padding: 6px 15px 4px;
    }

    tr:hover {
      background-color: #fafafa;
      cursor: pointer;
    }

    td {
      padding: 15px;
      border-bottom: 1px solid silver;
    }
  }
}


