<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= typeof pageTitle !== "undefined" ? pageTitle : 'Employee tracker' %></title>

    <script src="https://use.fontawesome.com/aaa72b4938.js"></script>
    <link href="/<%= customerFolder %>/static/bundle.css" rel="stylesheet" type="text/css">

</head>